html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  background-image: url("form-background.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}
h2 {
  margin: 0;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#buy {
  margin: 30px;
}
.brand,
.hp,
.color,
.capacity {
  padding: 15px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}
input[type="submit"] {
  background-color: #4b69bb;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
input[type="submit"]:active {
  box-shadow: 0 5px #bebaba;
  transform: translateY(4px);
}
